

/*
  Node : 2 ~ 3
  Name : DELTA_II
	** I(6) & O(5)
*/

#STRING_READ
// NAME    			              MD_No Ch_No	 Cmmd1	Cmmd2	Cmmd3  SAVE_OPTION  LOG	 Auto_Poll

si.FRC1.HEXA                    2     0    HEXA     _    12        _         _        -1  

#STRING_WRITE
// NAME    			              MD_No Ch_No	 Cmmd1	Cmmd2	Cmmd3  SAVE_OPTION  LOG	 Auto_Poll

so.FRC1.HEXA                    2     0    HEXA     _     5        _         _        -1  


======================================================================================================
PART : MADEE
참고 자료 "[UserManual]MADEE_DNET_Eng_Ver23.02_R3.pdf"

Page 16)
  
  * Instance 2 (Byte) : Produced
    0 : Status
    1 : Control Mode
    2 : Master Unit Override
    3 : Master Unit Ratio Output (low  byte)
    4 : Master Unit Ratio Output (high byte)
    5 : Master Unit Flow Output (low  byte)
    6 : Master Unit Flow Output (high byte)
    7 : Slave(1) Unit Override
    8 : Slave(1) Unit Ratio Output (low  byte)
    9 : Slave(1) Unit Ratio Output (high byte)
   10 : Slave(1) Unit Flow Output (low  byte)
   11 : Slave(1) Unit Flow Output (high byte)

  * Instance 7 (Byte) : Consumed
    0 : Control Mode
    1 : Master Unit Ratio Input (low  byte)
    2 : Master Unit Ratio Input (high byte)
    3 : Slave(1) Unit Ratio Input (low  byte)
    4 : Slave(1) Unit Ratio Input (high byte)
    
  * Exception Status : USINT
  * Control Mode : USINT
  * Override : None
  * Ratio Output : INT
  * Ratio Input  : INT

  * Exception Status Bit Map
    0 : ALARM/device-common
    1 : ALARM/device-specific
    2 : ALARM/manufacturer-specific
    3 : reserved - set to 0
    4 : WARNING/device-common
    5 : WARNING/device-specific
    6 : WARNING/manufacturer-specific
    7 : 1 == Expanded Method
  
  * Control Mode Data
    0x00 : Control Mode
    0x01 : Full Close Mode
    0x02 : Full Open Mode
    0xAA : AA Mode (equal control)
  
  * Override Data Maaping
    0x00 : Control Mode
    0x01 : Close Mode
    0x02 : Open Mode
    0xA0 : Reminder Mode

  * Ratio Output, Ratio Input, Flow Output Value Range
    Ratio Output : Data MIN,MAX Range : 0x0000 ~ 0x8000 (0% ~ 100%)  
    Ratio Input  : Data MIN,MAX Range : 0x0000 ~ 0x8000 (0% ~ 100%)  
    Flow Output  : Data MIN,MAX Range : 0x0000 ~ 0x6000 (0% ~ 100%)  

