

/*
  Node : 2 ~ 3
  Name : DELTA_II
	** I(6) & O(5)
*/

#STRING_READ
// NAME    			              MD_No Ch_No	 Cmmd1	Cmmd2	Cmmd3  SAVE_OPTION  LOG	 Auto_Poll

si.FRC1.HEXA                    2     0    HEXA     _     6        _         _        -1  
si.FRC2.HEXA                    3     0    HEXA     _     6        _         _        -1  

#STRING_WRITE
// NAME    			              MD_No Ch_No	 Cmmd1	Cmmd2	Cmmd3  SAVE_OPTION  LOG	 Auto_Poll

so.FRC1.HEXA                    2     0    HEXA     _     5        _         _        -1  
so.FRC2.HEXA                    3     0    HEXA     _     5        _         _        -1  


======================================================================================================
PART : DELTA_II
참고 자료 "MKS_DeltaII_FRC.pdf"

Page 64)
  Assembly instance 10, 12
  
  * Instance 10 (Byte) : Produced
    0 : Exception Status
    1 : Ratio Switch
    2 : Ratio Setpoint (low byte)  
    3 : Ratio Setpoint 
    4 : Ratio Setpoint 
    5 : Ratio Setpoint (high byte)  

  * Instance 12 (Byte) : Consumed
    0 : Ratio Switch
    1 : Ratio Setpoint (low byte)  
    2 : Ratio Setpoint 
    3 : Ratio Setpoint 
    4 : Ratio Setpoint (high byte)  

